<head>
    <script type="text/javascript" src="http://www.imactivate.com/datadashboardfiles/moment.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<style>
    .mainDetail {}
    
    .facilityIcon {
        color: #468ee5;
        background-color: white;
        padding: 0.15em 0em 0.15em 0em;
        border-radius: 0.3em;
    }
    
    .facilityDetail {
        margin: 0.8em 0em 0.8em 0em;
        font-size: 0.75em;
    }
    
    #changingPlacesMap .map-canvas {
        height: 5.4rem;
        color: black;
    }
    .mainDetail {
        margin-bottom:0.3em;   
    }
    
    #facilityTitle {
        font-size:0.8em;
        padding-bottom: 0.4em;
    }
    
    #changingPlaceDetails {
        display: none;
        font-size: 0.85em;
        border-bottom: 1px dotted white;
        padding-bottom: 0.3em;
        margin-bottom: 0.3em;
    }
</style>

{{#stories/story-base}} {{#stories/story-slider loaded=loaded}} {{#stories/story-slide}}

<div>{{ select-2 content=items value=selectedOption optionValuePath="id" optionLabelPath="title" placeholder="Choose a location"}}</div>

<div id="changingPlaceDetails">
</div>

<div id="changingPlacesMap">
    {{google-map lat=lat lng= lng zoom=14 markers=markers gopt_styles=mapStyles gopt_zoomControl=false gopt_mapTypeControl=false }}
</div>

{{/stories/story-slide}} {{#stories/story-slide}}
<div id="facilityDetails">

</div>
{{/stories/story-slide}} {{/stories/story-slider}} {{/stories/story-base}}