{{#stories/story-base}}
<div>{{ select-2 content=items value=selectedOption optionValuePath="id" optionLabelPath="title" placeholder="Choose a library" }}</div>
<div id='libraryComputersChart'></div>
{{/stories/story-base}}